<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        <b>¡confirmada!</b>
        <br /><br />
        <span style="color: #002445;">Detalles de la operación:</span><br />
        <b style="color: #002445;">Código</b>: <span style="color: #8b8b8b;">{{Rendicion.IdRendicion}}</span><br />
        <b style="color: #002445;">Fecha de confirmación</b>: <span style="color: #8b8b8b;">{{Rendicion.FechaConfirmacion}}</span><br />
        <b style="color: #002445;">Confirmado por</b>: <span style="color: #8b8b8b;">{{Empleado.NombreCompleto}}</span>
    </p>

    <p>
        Para ingresar a la plataforma, haga clic <a href='/'>aquí</a>.
    </p>

    <p>
        Saludos, 
        <br /><br />
        <b style="color: #002445;"></b>
        <br />
        <b style="color: #fb2929;">Sistema</b>
    </p>
</body>
</html>